In [1]:
import pandas as pd

In [2]:
# Load the customers dataset
customers_df = pd.read_csv(
    "../data/02_processed/cleaned_customers_dataset.csv",
    converters={
        'customer_zip_code_prefix': str # Convert ZIP codes to strings
    }
)
customers_df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,03937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,06764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,06703,cotia,SP

In [3]:
# Load the geolocation dataset
geolocation_df = pd.read_csv(
    "../data/02_processed/cleaned_geolocation_dataset.csv",
    converters={
        'geolocation_zip_code_prefix': str # Convert ZIP codes to strings
    }
)
geolocation_df

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,01001,-23.549951,-46.634027,sao paulo,SP
1,01002,-23.548228,-46.635247,sao paulo,SP
2,01003,-23.548977,-46.635313,sao paulo,SP
3,01004,-23.549550,-46.634771,sao paulo,SP
4,01005,-23.549763,-46.636100,sao paulo,SP
...,...,...,...,...,...
19005,99960,-27.953797,-52.029641,charrua,RS
19006,99965,-28.179542,-52.035551,agua santa,RS
19007,99970,-28.343257,-51.875470,ciriaco,RS
19008,99980,-28.388342,-51.846871,david canabarro,RS
19009,99990,-28.329595,-51.769362,muliterno,RS

In [4]:
# Load the order items dataset
items_df = pd.read_csv("../data/01_raw/olist_order_items_dataset.csv")
items_df

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [5]:
# Load the payments dataset
payments_df = pd.read_csv("../data/01_raw/olist_order_payments_dataset.csv")
payments_df

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [6]:
# Load the reviews dataset
reviews_df = pd.read_csv("../data/02_processed/cleaned_order_reviews_dataset.csv")
reviews_df

,review_id,order_id,review_score,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,2017-07-03 00:00:00,2017-07-03 21:01:49

In [7]:
# Load the orders dataset
orders_df = pd.read_csv("../data/02_processed/cleaned_orders_dataset.csv")
orders_df

,order_id,customer_id,order_status,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...
99428,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-17 15:08:01,2017-03-28 00:00:00
99429,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-28 17:37:56,2018-03-02 00:00:00
99430,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-09-21 11:24:17,2017-09-27 00:00:00
99431,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-25 23:32:54,2018-02-15 00:00:00
99432,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-16 13:08:30,2018-04-03 00:00:00

In [8]:
# Load the products dataset
products_df = pd.read_csv("../data/02_processed/cleaned_products_dataset.csv")
products_df

,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_id,product_category_name
0,40.0,287.0,1.0,225.0,16.0,10.0,14.0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria
1,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,3aa071139cb16b67ca9e5dea641aaa2f,artes
2,46.0,250.0,1.0,154.0,18.0,9.0,15.0,96bd76ec8810374ed1b65e291975717f,esporte_lazer
3,27.0,261.0,1.0,371.0,26.0,4.0,26.0,cef67bcfe19066a932b7673e239eb23d,bebes
4,37.0,402.0,4.0,625.0,20.0,17.0,13.0,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas
...,...,...,...,...,...,...,...,...,...
32945,45.0,67.0,2.0,12300.0,40.0,40.0,40.0,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao
32946,41.0,971.0,1.0,1700.0,16.0,19.0,16.0,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao
32947,50.0,799.0,1.0,1400.0,27.0,7.0,27.0,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho
32948,60.0,156.0,2.0,700.0,31.0,13.0,20.0,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios
32949,58.0,309.0,1.0,2083.0,12.0,2.0,7.0,106392145fca363410d287a815be6de4,cama_mesa_banho

In [9]:
# Load the sellers dataset
sellers_df = pd.read_csv(
    "../data/02_processed/cleaned_sellers_dataset.csv",
    converters={
        'seller_zip_code_prefix': str # Convert ZIP codes to strings
    }
)
sellers_df

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi-guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,04195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,04650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [10]:
# Load the product category name translation dataset
translations_df = pd.read_csv("../data/01_raw/product_category_name_translation.csv")
translations_df

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [11]:
def identify_repeated_customers(df: pd.DataFrame) -> pd.DataFrame:
    """
    Identify repeated customers based on their order history.
    
    Args:
        df (pd.DataFrame): The input customers dataset.
    
    Returns:
        pd.DataFrame: A DataFrame with customer order counts and a flag indicating if the customer is repeated.
    """
    # Count the number of orders per customer
    customer_order_count = df['customer_unique_id'].value_counts()

    # Create a boolean series for customers with more than 1 order
    repeated_customers = customer_order_count > 1

    # Create a DataFrame with order counts and repeated customer status
    repeated_customers_df = pd.DataFrame({
        'customer_unique_id': customer_order_count.index,
        'is_repeated_customer': repeated_customers.values
    })

    return repeated_customers_df

In [12]:
repeated_customers_df = identify_repeated_customers(customers_df)
repeated_customers_df

                     customer_unique_id  is_repeated_customer
0      8d50f5eadf50201ccdcedfb9e2ac8455                  True
1      3e43e6105506432c953e165fb2acf44c                  True
2      1b6c7548a2a1f9037c1fd3ddfed95f33                  True
3      ca77025e7201e3b30c44b472ff346268                  True
4      6469f99c1f9dfae7733b25662e7f1782                  True
...                                 ...                   ...
96091  081f07439678af2da7755a0aa572154d                 False
96092  9c57789a6a587f4efcfb01e36c106014                 False
96093  9e4c21635f640562de1a6976374fba03                 False
96094  06c0ea6ee892364d1608ee47aa9f56a0                 False
96095  84732c5050c01db9b23e19ba39899398                 False

[96096 rows x 2 columns]

In [13]:
# Create modelling dataset
# add the customer city
# add the review score to identify as it may need information of hte product in order to determine will repeat buying
# add product category name and product_category_name_english
# add product_weight_g
# add product volume as it may suggest a complex relationship between weight and volume for a better profile
# feature engineer order_delivered_customer_date - order_purchase_timestamp

In [14]:
modelling_df = customers_df[['customer_id', 'customer_unique_id', 'customer_city']].merge(orders_df[['order_id', 'customer_id', 'order_purchase_timestamp', 'order_delivered_customer_date']], on='customer_id', how='left')

modelling_df.dropna(
    axis=0, 
    inplace=True
)

agg_reviews_df = reviews_df.groupby('order_id').agg(
    {
        'review_id': 'first',
        'review_score': 'mean'
    }
).reset_index()

modelling_df = modelling_df.merge(agg_reviews_df[['order_id', 'review_score']], on='order_id', how='left')

modelling_df.dropna(
    axis=0, 
    inplace=True
)


items_products_df = items_df.merge(products_df[['product_id', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm', 'product_category_name']], on='product_id', how='left')

agg_items_products_df = items_products_df.groupby('order_id').agg(
    {
        'product_weight_g': 'median',
        'product_length_cm': 'median',
        'product_height_cm': 'median',
        'product_width_cm': 'median',
        'product_category_name': lambda x: x.mode().iloc[0] if not x.mode().empty else None
    }
)

agg_items_products_df.rename(
    columns={
        'product_weight_g': 'median_product_weight_g',
        'product_length_cm': 'median_product_length_cm',
        'product_height_cm': 'median_product_height_cm',
        'product_width_cm': 'median_product_width_cm',
        'product_category_name': 'mode_product_category_name'
    },
    inplace=True
)

modelling_df = modelling_df.merge(agg_items_products_df, on='order_id', how='left')

modelling_df.dropna(
    axis=0, 
    inplace=True
)

# Merge with repeated_customers_df
modelling_df = modelling_df.merge(repeated_customers_df, on='customer_unique_id', how='left')

modelling_df.dropna(
    axis=0, 
    inplace=True
)

# feature engineer median product volume and the date offset
# modelling_df['median_product_volume'] = (
#     modelling_df['median_product_length_cm'] *
#     modelling_df['median_product_height_cm'] *
#     modelling_df['median_product_width_cm']
# )


modelling_df

,customer_id,customer_unique_id,customer_city,order_id,order_purchase_timestamp,order_delivered_customer_date,review_score,median_product_weight_g,median_product_length_cm,median_product_height_cm,median_product_width_cm,mode_product_category_name,is_repeated_customer
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,franca,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,4.0,8683.0,54.0,64.0,31.0,moveis_escritorio,False
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,sao bernardo do campo,29150127e6685892b6eab3eec79f59c7,2018-01-12 20:48:24,2018-01-29 12:41:19,5.0,10150.0,89.0,15.0,40.0,utilidades_domesticas,False
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,sao paulo,b2059ed67ce144a36e2aa97d2c9e9ad2,2018-05-19 16:07:45,2018-06-14 17:58:51,5.0,8267.0,52.0,52.0,17.0,moveis_escritorio,False
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,mogi das cruzes,951670f92359f4fe4a63112aa7306eba,2018-03-13 16:06:38,2018-03-28 16:04:25,5.0,12160.0,56.0,51.0,28.0,moveis_escritorio,False
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,campinas,6b7d50bd145f6fc7f33cebabd7e49d0f,2018-07-29 09:51:30,2018-08-09 20:55:48,5.0,5200.0,45.0,15.0,35.0,casa_conforto,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95810,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,sao paulo,6760e20addcf0121e9d58f2f1ff14298,2018-04-07 15:48:17,2018-04-13 20:06:37,4.0,611.0,22.0,22.0,23.0,livros_interesse_geral,False
95811,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,taboao da serra,9ec0c8947d973db4f4e8dcf1fbfa8f1b,2018-04-04 08:20:22,2018-04-11 18:54:45,5.0,1211.0,25.0,24.0,22.0,esporte_lazer,False
95812,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,fortaleza,fed4434add09a6f332ea398efd656a5c,2018-04-08 20:11:50,2018-05-09 19:03:15,1.0,870.0,25.0,20.0,18.0,beleza_saude,False
95813,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,canoas,e31ec91cea1ecf97797787471f98a8c2,2017-11-03 21:08:33,2017-11-16 19:58:39,5.0,710.0,19.0,13.0,14.0,relogios_presentes,False
95814,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,cotia,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,5.0,50.0,16.0,5.0,11.0,perfumaria,False

In [15]:
repeated_customers_df

                     customer_unique_id  is_repeated_customer
0      8d50f5eadf50201ccdcedfb9e2ac8455                  True
1      3e43e6105506432c953e165fb2acf44c                  True
2      1b6c7548a2a1f9037c1fd3ddfed95f33                  True
3      ca77025e7201e3b30c44b472ff346268                  True
4      6469f99c1f9dfae7733b25662e7f1782                  True
...                                 ...                   ...
96091  081f07439678af2da7755a0aa572154d                 False
96092  9c57789a6a587f4efcfb01e36c106014                 False
96093  9e4c21635f640562de1a6976374fba03                 False
96094  06c0ea6ee892364d1608ee47aa9f56a0                 False
96095  84732c5050c01db9b23e19ba39899398                 False

[96096 rows x 2 columns]

In [16]:
import pandas as pd
import datetime as datetime
from typing import List, Dict
import numpy as np
import lightgbm as lgb

from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedShuffleSplit, StratifiedKFold, GridSearchCV
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [17]:
modelling = pd.read_csv("../data/03_modelling/modelling_dataset.csv")

In [18]:
modelling

,customer_city,review_score,median_product_weight_g,product_volume,mode_product_category_name,delivery_duration,is_repeated_customer
0,franca,4.0,8683.0,107136.0,moveis_escritorio,8,False
1,sao bernardo do campo,5.0,10150.0,53400.0,utilidades_domesticas,16,False
2,sao paulo,5.0,8267.0,45968.0,moveis_escritorio,26,False
3,mogi das cruzes,5.0,12160.0,79968.0,moveis_escritorio,14,False
4,campinas,5.0,5200.0,23625.0,casa_conforto,11,False
...,...,...,...,...,...,...,...
95810,sao paulo,4.0,611.0,11132.0,livros_interesse_geral,6,False
95811,taboao da serra,5.0,1211.0,13200.0,esporte_lazer,7,False
95812,fortaleza,1.0,870.0,9000.0,beleza_saude,30,False
95813,canoas,5.0,710.0,3458.0,relogios_presentes,12,False
95814,cotia,5.0,50.0,880.0,perfumaria,7,False

In [19]:
def standardisation_and_encoding(df: pd.DataFrame, label_col:str, numerical_cols: List[str], categorical_cols: List[str]) -> pd.DataFrame:
    """
    Encodes the categorical data into One Hot Encoded vectors and standardises the scaling of numerical data
    
    Args:
        df (pd.DataFrame): The input DataFrame.
        label_col (str): The column containing the label of the dataset.
        numerical_cols (List[str]): The list of numerical features in the DataFrame.
        categorical_cols (List[str]): The list of categorical features in the DataFrame.

    Returns:
        feature_encoded_df (pd.DataFrame): The DataFrame after feature encoding and standardisation.
    """
    try:
        # Combine the numerical and categorical column lists
        columns = numerical_cols + categorical_cols

        # Check if all columns are included in the standardisation and encoding
        if set(columns) != set(df.columns.drop(label_col)):
            raise ValueError(f"Not all columns were included")

        # Initialize encoders and scalers
        label_encoder = LabelEncoder()
        scaler = StandardScaler()

        # Process categorical columns
        for col in categorical_cols:
            df[col] = label_encoder.fit_transform(df[col])

        # Process numerical columns
        scaled_numerical_data = scaler.fit_transform(df[numerical_cols])
        scaled_numerical_df = pd.DataFrame(
            scaled_numerical_data,
            columns=numerical_cols,
            index=df.index
        )

        # Combine the processed data 
        feature_encoded_df = pd.concat([scaled_numerical_df, df[categorical_cols], df[label_col]], axis=1)
        return feature_encoded_df
    
    except ValueError as ve:
        # Show error
        print(f"ValueError: {ve}")
        return df
    
    except Exception as e:
        # Show the error
        print(f"An unexpected error occurred: {e}")
        return df

In [20]:
standardised_modelling_df = standardisation_and_encoding(modelling, 'is_repeated_customer', ['review_score', 'median_product_weight_g', 'product_volume', 'delivery_duration'], ['customer_city', 'mode_product_category_name'])
standardised_modelling_df

,review_score,median_product_weight_g,product_volume,delivery_duration,customer_city,mode_product_category_name,is_repeated_customer
0,-0.121535,1.760898,3.971192,-0.428112,1367,56,False
1,0.657459,2.152938,1.652191,0.416964,3391,73,False
2,0.657459,1.649726,1.331460,1.473309,3555,56,False
3,0.657459,2.690089,2.798745,0.205695,2317,56,False
4,0.657459,0.830103,0.367239,-0.111209,699,14,False
...,...,...,...,...,...,...,...
95810,-0.121535,-0.396259,-0.171902,-0.639381,3555,48,False
95811,0.657459,-0.235916,-0.082657,-0.533747,3733,32,False
95812,-2.458518,-0.327044,-0.263910,1.895847,1359,11,False
95813,0.657459,-0.369803,-0.503077,-0.005574,763,67,False
95814,0.657459,-0.546181,-0.614332,-0.533747,1082,63,False

In [21]:

def train_test_split(df: pd.DataFrame, label_column: str, split_parameters: dict, random_state: int):
    """
    Uses stratified shuffle split to split the dataframe into evenly distributed train and test datasets for modelling

    Args:
        df (pd.DataFrame): The input standardised and encoded dataframe to be split for modelling.
        label_column (str): The column that contains the labels.
        split_parameters (dict): The split parameters for stratified shuffle split.
        random_state (int): The random state value to be used.

    Returns:
        X_train: The features used for training
        y_train: The labels of the dataset used for training
        X_test: The features used for testing
        y_test: The labels of the dataset used for testing
    """
    X = df.drop(label_column, axis=1)
    y = df[label_column]
    sss = StratifiedShuffleSplit(n_splits=split_parameters['n_splits'], 
                                 test_size=split_parameters['test_size'], 
                                 random_state=random_state)
    for train_index, test_index in sss.split(X, y): 
        X_train, X_test = X.iloc[train_index], X.iloc[test_index] 
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]

    return X_train, y_train, X_test, y_test

X_train, y_train, X_test, y_test = train_test_split(standardised_modelling_df, label_column='is_repeated_customer', split_parameters={'n_splits':2, 'test_size':0.2}, random_state=42)
X_train

,review_score,median_product_weight_g,product_volume,delivery_duration,customer_city,mode_product_category_name
86208,-0.121535,2.727503,1.626298,-0.111209,3120,40
37321,-0.121535,-0.238855,-0.069710,-0.216843,1133,32
32606,0.657459,1.458115,0.849500,1.156406,3120,60
75291,0.657459,-0.399199,-0.324327,-0.216843,1038,64
9193,-0.900530,2.714141,2.406333,1.790213,2672,55
...,...,...,...,...,...,...
67002,0.657459,0.455967,0.372029,-0.322478,1430,13
36307,0.657459,0.322348,0.253955,2.212751,548,13
64666,-0.121535,-0.506095,-0.637118,-0.428112,2509,67
86291,-2.458518,-0.278941,-0.410207,-0.322478,1514,11
18641,-0.121535,-0.131959,0.027389,0.205695,3555,26

In [24]:
agg_val_metrics_df = pd.read_csv("../data/09_metrics/agg_val_metrics.csv")
agg_val_metrics_df

,model_type,avg_accuracy,avg_f1,avg_precision,avg_recall,std_accuracy,std_f1,std_precision,std_recall
0,Unoptimized RF,0.468729,0.371296,0.506780,0.528399,0.014781,0.006936,0.001000,0.004017
1,Optimized RF,0.936910,0.483714,0.468455,0.500000,0.000000,0.000000,0.000000,0.000000
2,Unoptimized LightBGM,0.553828,0.417693,0.513233,0.555491,0.002692,0.001831,0.001177,0.004935
3,Optimized LightBGM,0.938279,0.506078,0.946889,0.511237,0.000127,0.001521,0.007037,0.000784
4,Unoptimized LR,0.490489,0.379889,0.503308,0.513976,0.007223,0.003024,0.001583,0.006690
5,Optimized LR,0.936910,0.483714,0.468455,0.500000,0.000000,0.000000,0.000000,0.000000

In [26]:
test_metrics = pd.read_csv("../data/09_metrics/test_metrics.csv")

                  Model  Accuracy  F1 Score  Precision    Recall
0        Unoptimized RF  0.493138  0.385896   0.509773  0.541274
1          Optimized RF  0.936910  0.483714   0.468455  0.500000
2  Unoptimized LightBGM  0.562490  0.424442   0.516505  0.569028
3    Optimized LightBGM  0.937692  0.499328   0.881957  0.507746
4        Unoptimized LR  0.499713  0.384803   0.503840  0.516240
5          Optimized LR  0.936910  0.483714   0.468455  0.500000

In [ ]:
test_metrics['Model']